<!doctype html>
<html lang="en">
<head>
  <title>DFashion</title>

  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="bundle/vendor.css" />
  <link rel="stylesheet" href="bundle/styles.css" />

</head>

<body ng-app="dFashionApp">
  <section class="col-md-12" ng-controller="productCtrl as products">
    <aside class="col-md-2">
      <h3>Refine by</h3>
    </aside>
    <div class="col-md-10">
      <div class="col-md-4 col-xs-6" ng-repeat="productItem in products.productList">
        <div class="prod-image">
          <img ng-src="{{productItem.prodImage}}" alt="productItem.prodName" />
        </div>
        <div class="item-details">
          <p style="height: 40px;">
            <strong>
              <span ng-bind="productItem.prodName"></span>,&nbsp;
              <span ng-bind="productItem.color"></span>
            </strong>
          </p>
          <p>
            <strong>
              <span ng-bind="productItem.category"></span>
            </strong>
          </p>
          <div class="prices">
          <span class="price">{{productItem.retailPrice | currency:"£":2}}</span>
          <span class="savings red">
            <strong>
                <span> Stock:&nbsp;{{productItem.stock}} </span>
            </strong>
          </span>
        </div>
        <div>
          <div class="size dropdown span8">
            <select class="selectSize">
               <option value=""></option>
            </select>
          </div>
            <div class="buy-btn btn btn-inverse" ng-click="products.addItem(productItem)">
               Buy Now
            </div>
          </div>
        </div>
      </div>
    </div>
  <section>

  <script src="bundle/vendor.js"></script>
  <script src="bundle/bundle.js"></script>

</body>
</html>
